LISTS,,,,,,,,,,,[]

In [8]:
#mutable  : elements can be edited after storing
list = ['a',1,True,2.05]

In [9]:
list[1]

1

In [10]:
#last element
list[-1]

2.05

In [11]:
list[1:3]

[1, True]

In [12]:
#mutable
list[0] = 100
list

[100, 1, True, 2.05]

In [13]:
#last element will be deleted
list.pop()
list

[100, 1, True]

In [14]:
#append
list.append('isb')
list

[100, 1, True, 'isb']

In [19]:
list.insert(1,'alien')
list   # other element will shift by one index after the inserted element

[100, 'alien', 1, True, 'isb']

In [20]:
concat = list+list
concat

[100, 'alien', 1, True, 'isb', 100, 'alien', 1, True, 'isb']

In [21]:
mul = list*3
mul

[100,
 'alien',
 1,
 True,
 'isb',
 100,
 'alien',
 1,
 True,
 'isb',
 100,
 'alien',
 1,
 True,
 'isb']

TUPLE,,,,,,,,,,,,()
immutable

In [22]:
tup = ('1','a',True,2.5)

In [23]:
tup[0]

'1'

In [24]:
tup[-1]

2.5

In [25]:
tup[1:3] #return type is a tuple

('a', True)

In [26]:
#trying to edit value,it will show error
tup[1] = 'isb'

TypeError: 'tuple' object does not support item assignment

In [27]:
len(tup)

4

In [28]:
concat_tuple = tup+tup
concat_tuple

('1', 'a', True, 2.5, '1', 'a', True, 2.5)

In [29]:
mult_tup = tup*3
mult_tup

('1', 'a', True, 2.5, '1', 'a', True, 2.5, '1', 'a', True, 2.5)

DICTIONARY
mutable

In [31]:
dic = {'isb' : 50, 'aliens': 40,'python' : 60, 'iot' : 80}

In [32]:
#keys
dic.keys()

dict_keys(['isb', 'aliens', 'python', 'iot'])

In [33]:
#values
dic.values()

dict_values([50, 40, 60, 80])

In [34]:
dic['isb']

50

In [35]:
#mutable
dic['python'] = 200
dic

{'isb': 50, 'aliens': 40, 'python': 200, 'iot': 80}

In [37]:
#add new element,,,,elements adds at last
dic['ml'] = 300
dic

{'isb': 50, 'aliens': 40, 'python': 200, 'iot': 80, 'ml': 300}

In [41]:
dic2 = {'web': 90, 'dbms': 400}
dic.update(dic2)
dic
#appends at last

{'isb': 50,
 'aliens': 40,
 'python': 200,
 'iot': 80,
 'ml': 300,
 'web': 90,
 'dbms': 400}

In [42]:
dic.pop('ml')
dic

{'isb': 50, 'aliens': 40, 'python': 200, 'iot': 80, 'web': 90, 'dbms': 400}

SET,,,,,,,,,,,,,{}

In [44]:
set = {1, 2, 3}
set.add(4)
set

{1, 2, 3, 4}

In [46]:
#union
set1 = {1,2,3,4}
set2 = {3,4,7,8}
set1.union(set2)

{1, 2, 3, 4, 7, 8}

In [47]:
#intersection
set1 = {1,2,3,4}
set2 = {3,4,7,8}
set1.intersection(set2)

{3, 4}

In [48]:
#set difference,,,elements of 1 not in 2
set1 = {1,2,3,4}
set2 = {3,4,7,8}
set1.difference(set2)

{1, 2}

In [49]:
#symmetric difference,,same as difference,,but it deletes the common elements
set1 = {1,2,3,4}
set2 = {3,4,7,8}
set1.symmetric_difference(set2)

{1, 2, 7, 8}

In [50]:
#does not take repeated elements
set1 = {1,2,3,4}
set1.add(2)
set1

{1, 2, 3, 4}