In [11]:
from openpyxl import Workbook
#creates a new workbook
wb = Workbook()
#Gets the first active worksheet
ws = wb.active

In [13]:
#creating new worksheets by using the create_sheet method

ws1 = wb.create_sheet("sheet1", 0) #inserts at first position
ws2 = wb.create_sheet("sheet2") #inserts at last position
ws3 = wb.create_sheet("sheet3", -1) #inserts at penultimate position/2nd last
ws4 = wb.create_sheet("sheet4")

In [14]:
#Renaming the sheet
ws.title = "Example"

#save the workbook
wb.save(filename = "Aliens.xlsx")

In [68]:
import openpyxl

#loading a workbook
wb = openpyxl.load_workbook("Aliens.xlsx")
#getting sheet names
wb.sheetnames

['sheet1', 'Example', 'sheet3', 'sheet2', 'sheet4']

In [69]:
#getting a particular sheet
sheet1 = wb["sheet1"]

In [70]:
#getting sheet title
sheet1.title

'sheet1'

In [60]:
#Getting the active sheet
wb.active

value from a cell

In [77]:
import openpyxl

#loading a workbook
wb = openpyxl.load_workbook("Aliens.xlsx")
sheet1 = wb.active
#get a cell from the sheet
print(sheet1["A1"].value)

1000

insert value in a cell

In [86]:
wb = openpyxl.load_workbook("Aliens.xlsx")
sheet1 = wb.active
sheet1['B4']=10
wb.save('Aliens.xlsx')

In [88]:
import openpyxl
wb = openpyxl.Workbook()
sheet = wb.active
sheet['A1'] = 'hello'
sheet['B1'] = 'hello'
sheet['A2'] = 'hello'
sheet['B2'] = 'hello'
sheet['A3'] = 'hello'
sheet['B3'] = 'hello'


wb.save('ISB.xlsx')

In [91]:
#insert row and column
sheet.insert_cols(1,amount=1)
sheet.insert_rows(1,amount=1)
wb.save('ISB.xlsx')

In [94]:
#merge cells
sheet.merge_cells('A1:C3')
wb.save('ISB.xlsx')

In [99]:
#formula
wb = openpyxl.load_workbook("Aliens.xlsx")
sheet = wb['Example']
sheet['A1'] = 10
sheet['A2'] = 20
sheet['A3'] = 30
sheet['A4'] = 40
sheet['A5'] = 50
sheet['A6'] = 60

sheet['A9'] = '=SUM(A1:A6)'

wb.save("Aliens.xlsx")

using a dataset

In [1]:
import pandas as pd
df = pd.read_csv('D:\AB projects\Automation\linkedin_login\linkedin\ICC Test Rankings.csv')
df.to_excel('dataset.xlsx')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0        10 non-null     int64
 1   Pos      10 non-null     int64
 2   Team     10 non-null     object
 3   Matches  10 non-null     int64
 4   Points   10 non-null     int64
 5   Rating   10 non-null     int64
dtypes: int64(5), object(1)
memory usage: 608.0+ bytes

    0  Pos          Team  Matches  Points  Rating
0   1    1     Australia       27    3208     119
1   2    2         India       35    4116     118
2   3    3   New Zealand       31    3561     115
3   4    4  South Africa       26    2622     101
4   5    5       England       45    4351      97
5   6    6      Pakistan       34    3163      93
6   7    7     Sri Lanka       33    2683      81
7   8    8   West Indies       37    2984      81
8   9    9    Bangladesh       22    1157      53
9  10   10      Zimbabwe       11     342      31

FORMULA

In [27]:
import openpyxl
wb = openpyxl.load_workbook("dataset.xlsx")
sheet = wb.active


wb.save("dataset.xlsx")

In [28]:
wb = openpyxl.load_workbook("dataset.xlsx")
sheet = wb.active
sheet['I1'] = 'stats category'
sheet['J1'] = 'Values'
sheet['I2'] = 'Max matches'
sheet['J2'] = '=MAX(E3:E12)'

wb.save("dataset.xlsx")

In [30]:
wb = openpyxl.load_workbook("dataset.xlsx")
sheet = wb.active
sheet['I3'] = 'Max points'
sheet['J3'] = '=MAX(F2:F11)'
sheet['I4'] = 'Max rating'
sheet['J4'] = '=MAX(G2:G11)'
wb.save("dataset.xlsx")

In [34]:
sheet['I5'] = 'Average matches'
sheet['J5'] = '=AVERAGE(E2:E11)'
sheet['I6'] = 'Average rating'
sheet['J6'] = '=AVERAGE(G2:G11)'
wb.save("dataset.xlsx")